#footer {
  background-color: #f1e9dbff;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-bottom: 1%;
  bottom: 0;
  left: 0;
  right: 0;
  gap: 5%;
  align-items: center;
  padding-top: 2%;
}

#footer_logo {
  grid-column: 1;
  background-repeat: no-repeat;
  width: 100%;
  margin-bottom: 5%;
  margin-left: 5%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20%;
  padding-right: 40%;
  padding-top: 5%;
}

#fot_ori {
  grid-column: 2;
}

#fot_ny_log {
  grid-column: 1;
  width: 136%;
}

#fot_con {
  grid-column: 2;
  font-family: "Space Mono", monospace;
  font-size: 2cqw;
  color: black;
  display: grid;
}
#fot_tlf_over,
#fot_mail_over {
  padding-top: 0;
  margin-bottom: 0;
}
#fot_tlf_num,
#fot_mail_mail {
  margin: 0;
}

#fot_some {
  grid-column: 3;
  align-items: center;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5%;
}

#fot_con_inst {
  width: 50%;
  grid-column: 1;
  padding-right: 0;
}
#fot_con_face {
  width: 50%;
  grid-column: 2;
  padding-left: 0;
}

@media only screen and (min-width: 800px) {
  #footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
