@media screen and (min-width: 600px) {
    /*******************productlist**********************/

    article h3, article p {
        width: 260px;
      }
    
    article img {
        width: 260px;
      }

    .productlist_grid {
        gap: 10px;
      }
}
@media screen and (min-width: 700px){
    /*******************productlist**********************/

    article h3, article p {
        width: 300px;
      }
    
    article img {
        width: 300px;
      }
}

@media screen and (min-width: 900px){
    /*******************productlist**********************/
    
    .productlist_grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        }

    article h3, article p {
        width: 260px;
      }
    
      article img {
        width: 260px;
      }
}

@media screen and (min-width: 1000px) {
    /*******************productlist**********************/

    article h3, article p {
        width: 300px;
      }
    
      article img {
        width: 300px;
      }
}

@media screen and (min-width: 1200px) {
    /*******************productlist**********************/

    article h3, article p {
        width: 350px;
      }
    
      article img {
        width: 350px;
      }
}

@media screen and (min-width: 1350px) {
    /*******************productlist**********************/

    article h3, article p {
        width: 400px;
      }
    
      article img {
        width: 400px;
      }
}

@media screen and (min-width: 1500px) {
    /*******************productlist**********************/

    article h3, article p {
        width: 450px;
      }
    
      article img {
        width: 450px;
      }
}