@media screen and (min-width: 600px) {
    /*******************retter**********************/

    .productlist_article h3, .productlist_article p {
        width: 260px;
      }
    
      .productlist_article img {
        width: 260px;
      }

    .productlist_grid {
        gap: 10px;
      }
}
@media screen and (min-width: 700px){
    /*******************retter**********************/

    .productlist_article h3, .productlist_article p {
        width: 300px;
      }
    
      .productlist_article img {
        width: 300px;
      }
}

@media screen and (min-width: 900px){
    /*******************retter**********************/
    
    .productlist_grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        }

        .productlist_article h3, .productlist_article p {
        width: 260px;
      }
    
      .productlist_article img {
        width: 260px;
      }
}

@media screen and (min-width: 1000px) {
    /*******************retter**********************/

    .productlist_article h3, .productlist_article p {
        width: 300px;
      }
    
      .productlist_article img {
        width: 300px;
      }
}

@media screen and (min-width: 1200px) {
    /*******************retter**********************/

    .productlist_article h3, .productlist_article p {
        width: 350px;
      }
    
      .productlist_article img {
        width: 350px;
      }
}

@media screen and (min-width: 1350px) {
    /*******************retter**********************/

    .productlist_article h3, .productlist_article p {
        width: 400px;
      }
    
      .productlist_article img {
        width: 400px;
      }
}

@media screen and (min-width: 1500px) {
    /*******************retter**********************/

    .productlist_article h3, .productlist_article p {
        width: 450px;
      }
    
      .productlist_article img {
        width: 450px;
      }
}