/*******************GENERAL**********************/
main h1,
h2 {
  text-align: center;
}

footer {
  text-align: center;
}

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

/*******************INDEX**********************/

#for_main {
  width: 100%;
  height: 100vh;
}

#for_bag {
  background-color: #bcbf9dff;
}

#for_logo {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.for_text_div {
  font-family: "Space Mono", monospace;
  font-size: 3cqw;
  position: absolute;
  top: 40%;
  padding-left: 5%;
  padding-right: 5%;
}

/* Stil for knappen */
.fun-button {
  display: inline-block;
  padding: 15px 30px;
  color: black;
  border: 3px solid #000;
  border-radius: 50px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
  animation: bounce 1s infinite, colorChange 5s infinite;
  margin-left: 20%;
  margin-top: 20%;
  font-family: "Permanent Marker";
}

/* Animation for knappen */
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}

/* Animation for farveskift */
@keyframes colorChange {
  0% {
    background-color: #a2d9a4;
  }
  25% {
    background-color: #8fcce1;
  }
  50% {
    background-color: #d2b48c;
  }
  75% {
    background-color: #c5ccd0;
  }
  100% {
    background-color: #baa8d5;
  }
}

@media only screen and (min-width: 800px) {
  .grid {
    display: grid;
    grid-template-rows: 1fr 1fr;
  }

  .forside_billede {
    grid-row: 1;
    width: auto;
    height: 200px;
    padding-left: 100px;
  }

  .for_text_div {
    grid-row: 2;
    padding: 20px;
    text-align: center;
  }
}

/*******************retter**********************/

.productlist_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.productlist_article {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.productlist_article h3,
.productlist_article p {
  width: 200px;
  text-align: center;
}

.productlist_article img {
  width: 200px;
  height: 200px;
}

.recipe_btn {
  padding: 13px;
  border-color: black;
  background-color: #bcbf9dff;
  margin-bottom: 10px;
  border-radius: 20px;
  color: black;
  font-family: "Space Mono", monospace;
  font-weight: bold;
}

/*******************ret**********************/

.velbekomme_h3, .opskrift_h3 {
  text-align: center;
}

.dish_img_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dish_img {
  width: 200px;
}

.product_article {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product_img_container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}

.product_img_container img {
  width: 100%;
}

.ingredient_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
  width: 50%;
  align-items: center;
  background-color: #fefef5;
}

.ingredient_container p {
  text-align: center;
  color: #262728;
}

.product_text_box {
  max-width: 60%;
  border-radius: 12px;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #f1e9dbff;
  color: #262728;
}

.product_text_box .recipe1 .tools {
  margin-bottom: 10px;
}
