/*******************GENERAL**********************/
footer {
    text-align: center;
    background-color: bisque;
}
/*******************NAV BAR**********************/
header {
    display: flex;
    justify-content: space-between;
    background-color: bisque;
    align-items: center;
}

.header_logo img {
    width: 70px;
    height: 70px;
}

.nav_bar_list li {
    display: inline-block;
    margin-right: 10px;
  }


/*******************INDEX**********************/

  .index_text_div h1 {
    text-align: center;
  }
  
  .index_img_div {
    max-width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .index_img_div img {
    max-width: 100%;
    height: auto;
  }
  /* Billedets størrelse er ikke optimalt endnu */

  /*******************productlist**********************/

  .productlist_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  article {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  article img {
    width: 200px;
  }