h1 {
text-align: center;
}

section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding-left: 15%;
    padding-right: 15%;
}

div {
    border: solid;
    border-width: 1px;
    border-color: black;
}